NODE_ENV=development
PORT=3000

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=oficina
DATABASE_URL=

# pgAdmin
PGADMIN_PORT=5050
PGADMIN_EMAIL=admin@oficina.com
PGADMIN_PASSWORD=admin

# JWT
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=
